@import "tailwindcss";

/* I could't make it work, so I defined my own css in this file */
@source "./src/**/*.{rs,html,css}";

/* To toggle dark mode, add the 'dark' class to the root element of your HTML document. */
@custom-variant dark (&:where(.dark, .dark *));

/* Both are needed so that the page covers the whole window */
body {
    height: 100vh;
    width: 100vw;
    min-width: 600px;
}
#main {
    height: 100%;
    width: 100%;
}

/* Remove the spin buttons from number input fields in WebKit and Mozilla browsers */
.remove-arrow::-webkit-inner-spin-button,
.remove-arrow::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.remove-arrow {
    -moz-appearance: textfield;
    appearance: textfield;
}

/*
  Tooltip classes inspired from https://www.w3schools.com/css/css_tooltip.asp
*/
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}
/* Common properties for tooltip text inside container */
.tooltip .tooltip-text {
    visibility: hidden;
    width: 180px;
    background-color: #888;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 3px;
    /* Short transition */
    opacity: 0;
    transition: opacity 1s;
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
}
/* Common properties for arrow */
.tooltip .tooltip-text::after {
    content: '';
    position: absolute;
    margin-left: -8px;
    border-width: 8px;
    border-style: solid;
}
/* Specifics properties for top tooltip */
.tooltip-top.tooltip .tooltip-text {
    left: 18px;
    bottom: calc(100% + 6px); /* Percentage of container height */
}
/* Specific properties for bottom arrow of top tooltip */
.tooltip-top.tooltip .tooltip-text::after {
    top: 100%; /* At the bottom of the tooltip */
    left: 10%;
    border-color: #888 transparent transparent transparent;
}
/* Specifics properties for left tooltip */
.tooltip-left.tooltip .tooltip-text {
    top: -5px;
    right: calc(97% + 10px); /* Percentage of container width */
}
/* Specific properties for right arrow of left tooltip */
.tooltip-left.tooltip .tooltip-text::after {
    top: 9px;
    right: -16px; /* To the right of the tooltip */
    border-color: transparent transparent transparent #888;
}
/* Specifics properties for right tooltip */
.tooltip-right.tooltip .tooltip-text {
    top: -5px;
    left: calc(100% + 5px);
}
/* Specific properties for left arrow of right tooltip */
.tooltip-right.tooltip .tooltip-text::after {
    top: 10px;
    right: 100%; /* To the left of the tooltip */
    border-color: transparent #888 transparent transparent;
}
/*
  Show the tooltip text when you mouse over the tooltip container.
  Tooltips are applicable on element with tooltip class
*/
.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}
